.bannerContainer{
    position: relative;

}
.banner img {
    position: absolute;
    height: 500px;
    width:100%;
}
.BannerText {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px #ffffff,0 0 20px #000000,0 0 25px #000000;
    position: absolute;
    top:150px;
    left: 50px;
    display: inline-block;
    font-size: 2rem;

}
