.container{
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
overflow: hidden;
margin-top: 50px;
}
.container:hover{    
    cursor: pointer;
    transition-duration: .3s;
    color: rgb(0, 0, 60);
    filter: contrast(150%);
}
.container img{
    width: 250px;
}


.container h3{
    font-size: 2rem;
    text-shadow: 0 0 10px #ffffff,0 0 20px #000000,0 0 25px #000000;
}
.container p{
    font-size: 1.6rem;
    background-color: #0063b4a9;
    border-radius: 30px;
    padding-inline: 10px;
}
    .counter{
        display: flex;
        align-items: center;
        border-top: 2px solid rgba(89, 89, 89, 0.633);
        border-bottom: 2px solid rgba(89, 89, 89, 0.633);
        margin-top: 10px;
    }
    .counter img{
    width: 30px;
    padding:10px 20px;
    }
    .counter img:hover{
        filter: contrast(120%);
    transition-duration: .3s;

    }
    .deactive{
        filter: opacity(.5);
    }
    .deactive:hover{
    opacity: .2;
    }