.containerOfHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9e9e9e86;
    margin: 5px 20px;
    position: fixed;
    width: 95%;
    border-radius: 90px;
    z-index: 10;
}
.listContainer{
    display: flex;
    list-style-type: none;
    cursor: pointer;
}
.listContainer li{
    padding: 10px;
}
.listContainer li:hover{
    color: aqua;
    transition-duration: .2s;
}

.logo{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}